}

#chatContainer {
    display: none;
    position: relative;
    max-width: 400px !important;
}

/* Logout Button */
#logoutButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
}

#logoutButton:hover {
    background: darkred;
}

/* Chat Messages */
#messages {
    height: 40vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#messages p {
  background-color: #1af41a;
  display: inline-block;
  max-width: 70%;
  padding: 3%;
  border-radius: 15px;
  margin: 0.7% auto;
  word-wrap: break-word;
}

/* Input and Buttons */
#messageInput {
    width: 75%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    padding: 0.5rem;
    margin-top: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#sendButton {
    background: #16CC16;
    color: white;
}

#sendButton:hover {
    background: #139913;
}
